{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <form action="/index" method="post">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
                {% for list_company in table %}
                <tr>
                    {% for thing in list_company %}
                    <td>
                        {% if stock is none %}

                        {% else %}
                            {{thing}}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <th>CASH</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{cash}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{grand_total}}</th>
                </tr>
                <tr>
                    <th>Winst/Loss</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{winst}}</th>
                </tr>
        </table>
    </form>
{% endblock %}
